doctype html
html
  head
    title 장바구니 목록
    style.
      table {
        width: 50%;
        border-collapse: collapse;
        margin-right: 20px;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
      }
      th {
        background-color: #f2f2f2;
        text-align: left;
      }
  body 
    h1 장바구니 목록
    if books.length
      - var all_price = 0
      form(action="/order", method="POST")
        table
          thead 
            tr
              th 선택
              th 책 ID 
              th 책 이름
              th 가격
              th 수량
          tbody 
            each book in books
              - const book_count = bookbasketlist.find(item => item.book_id === book.book_id).book_count
              - all_price += book_count * book.book_price
              tr
                td: input(type="checkbox", name="selectedBooks", value=JSON.stringify({ book_id: book.book_id, book_count: book_count }))
                td= book.book_id
                td= book.book_name
                td= book.book_price
                td= book_count
        input(type="hidden", name="all_price", value=all_price)

        button(type="submit") 주문하기
    else
      p 장바구니에 담긴 책이 없습니다.



            //- each book in books
            //-   tr
            //-     td: input(type="checkbox", name="selectedBooks", value=book.book_id)
            //-     td= book.book_id
            //-     td= book.book_name
            //-     td= book.book_price
            //-     td= bookbasketlist.find(item => item.book_id === book.book_id).book_count